<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKEmojiPickerDispatchSelect</strong>
	<span id="TestOLSKEmojiPickerDispatchSelect">0</span>
	<span id="TestOLSKEmojiPickerDispatchSelectData">undefined</span>
</p>
